<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    プログラミングであなたの世界を広げよう
  </p>
  <h2 class='ad-footer-title'>
    まずは<span class="muryou">無料登録</span>から
  </h2>

  <div class="btn-wrap">
  <a href="" class="btn btn-c"><span>簡単!<br><em>30秒</em></span>今すぐ始める！</small></a>
</div>

  <div class='store-btn'>
    <%= link_to image_tag("bg1.png", class:"footer-img"), "#" %>
  </div>
</div>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SERVICE</h2>
      <ul>
        <li><%= link_to 'アプリ一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ツイート一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '質問一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SUPPORT</h2>
      <ul>
        <li><%= link_to '運営会社', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SNS</h2>
      <ul>
        <li><%= link_to 'Twitter', "#", class: "footer-link" %></li>
        <li><%= link_to 'Facebook', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p class="huming-fot">Huming</p>
</div>